h1{
    color: red;
    text-align: center;
}


.poem{
    padding: 100px;
    opacity: 1;
}

p{
    font-size: 20px;
    background-color: aliceblue;
    opacity: 1;

    margin: auto;
    width: 20%;
    padding: 10px;
    text-align: center;
}

body{
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
}